ul.room

.no-room 
  .alert.alert-info 방이 없습니다.
script#room-template(type='text/template').
  <li class='room <%= doneStr %>' data-id='<%= id %>'>
    <span class='check'>
      <i class='fa fa-check fa-lg'></i>
    </span>
    <span class='content'><%=content %></span>
    <% if (city) { %>
      <span class='label label-default category'> 
        <%= city %>
      </span>
    <% } %>
    <span class='city p<%= city%>'>
    </span>
    <a href='#' class='remove'><i class='fa fa-trash-o'></i></a>
  </li>
      
script.
  $(function() {
    var todo = new TaskController();    
  });
