ul.room

.no-room 
  .alert.alert-info 방이 없습니다.

h1.page-header List

    
  table.table.table-bordered
   thead
       tr
         th 제목
         th 가격
         th
     tbody
       each room in rooms
         tr
           td= room.city
           td= room.fee
           td
             a(href='/rooms/#{room.id}')= room.name
           td= moment(room.createdAt).format('YYYY-MM-DD HH:mm:ss')